.boxHome{
    height: auto;
    background: linear-gradient(-45deg, #fdbc55ba, #e73c7e, #d5c323, #d58223);
   
}

.boxHome > div{
    padding: 2em;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    
}