.cardBox{
    width: 28em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 40px;
    margin: 1em;
    overflow-y: hidden;
    box-shadow:  14px 14px 28px #ff0a7c,
             -14px -14px 28px  yellow;
}
.cardBox img{
    position: relative;
    height: 28em;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}
.cardBox ul{
   display: flex;
   justify-content: space-around;
   width: 28em;
}
.cardBox>p{
   padding: 0px 2vh;
 }

.decrecipe{
    height: 80px;
    overflow-y: hidden;
}
.readmore{
    color: blue;
    margin-left: 16em;
    width: fit-content;
}
